.cart-header {
  font-size: 1.75rem;
  margin-top: 50px;
  color: rgb(133, 91, 12);
}

.cart-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  width: 50%;
  height: auto;
}

.qty-button {
  display: inline-flex;
}

.checkout-button {
  background-color: orange;
  border: none;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: rgb(243, 194, 104);
}

.cart-line {
  width: 5%;
  margin: 5px auto 50px auto;
  position: relative;
  border-top: 2px solid rgb(235, 219, 204);
}

.cart-col-title {
  background-color: orange;
  color: white;
}

.cart-row-data {
  background-color: white;
}
