.cake-container {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
  margin: 50px 75px;
}

.cake-header {
  font-size: 1.75rem;
  color: rgb(172, 99, 4);
}

.sort {
  text-align: left;
  margin-left: 215px;
}

.sort-name {
  font-size: 1.1rem;
}

.drop-down {
  margin-left: 15px;
  background-color: rgb(222, 219, 219);
  border: 1px solid rgb(188, 185, 185);
  cursor: pointer;
}

.cake-line {
  border-top: 1px dotted rgb(184, 170, 157);
  margin-bottom: 25px;
  width: 10%;
}
