/* tables section */
table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#admin {
  margin: 5% 5%;
}

#admin th {
  background-color: rgb(237, 152, 61);
}

.inventory-button {
  background-color: orange;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 5px;
}

.inventory-button:hover {
  background-color: rgb(245, 214, 156);
}

.edit-button {
  text-decoration: none;
}

.edit-text {
  font-size: 0.9rem;
  background-color: orange;
  border-radius: 5px;
  width: 50px;
  color: black;
}
