.cart-img {
  width: 25%;
  height: 25%;
}

.cart-container {
  display: flex;
  background-color: antiquewhite;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.qty-counter {
  display: flex;
}

.cart-desc {
  width: 20%px;
}

.cart-item-img {
  width: 100px;
}

.cart-table-container {
  width: 80%;
  margin: auto;
}
