.details-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  height: 50vh;
}

.details-header {
  margin-top: 25px;
  margin-bottom: 40px;
}

.details-info {
  margin-left: 100px;
  width: 25%;
  height: 300px;
  text-align: left;
}

.desc-header {
  text-align: left;
  margin-bottom: 5px;
}

.details-cart,
.shop-button {
  background-color: orange;
  border: none;
  width: 150px;
  height: 35px;
  color: white;
  font-size: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
}

.details-cart {
  margin-right: 15px;
}

.details-name,
.details-price {
  text-align: left;
  margin-bottom: 10px;
}

.process-time {
  margin-bottom: 25px;
  text-align: left;
}

.details-name {
  font-size: 1.3rem;
}

.details-desc {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 25px;
}

.details-buy {
  background-color: orange;
  border: none;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  color: white;
}

.details-cart {
  margin-right: 15px;
}

.details-cart:hover,
.shop-button:hover {
  background-color: rgb(254, 201, 103);
}

.buttons {
  text-align: left;
  margin-top: 25px;
}

.minus-button,
.plus-button {
  width: 25px;
  margin-right: 10px;
}

.plus-button {
  margin-left: 10px;
}
